.button {
    display: inline-block;
    padding: 20px;
    width: 100px;
    text-transform: capitalize;
        font-size: 15px;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}